{
    "presets": [
        "@babel/typescript",
        [
            "@babel/env"
        ]
    ],
    "plugins": [
        [
            // More Information
            // https://babeljs.io/docs/en/next/babel-plugin-transform-react-jsx.html
            "transform-react-jsx",
            {
                "pragma": "react.createElement"
            }
        ]
    ]
}
