$font-size = 14px;
$font-family = 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei';
$color-orange = #ff9a2a;
$color-green = #7fbc39;
$color-blue = #00b4cf;
$color-blue-dark = #01869a;
$color-mazarine = #2d4054;
$color-mazarine-dark = #435466;
$color-grey = #f3f3f3;
$color-grey-dark = #e1e4e6;
$responsive-desktop-hd = 1200px;
$responsive-desktop = 1024px;
$responsive-phone = 768px;
